* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header {
    width: 100%;
    height: 66px;
}

.logo {
    width: 30%;
    height: 66px;
    background-color: greenyellow;
    float: left;
}

.banner {
    width: 70%;
    height: 66px;
    background-color: hotpink;
    float: left;

}

.nav {
    margin-top: 5px;
    clear: both;
    width: 100%;
    height: 30px;
    background: red;
}

.content {
    width: 100%;
    height: 700px;
    background-color: royalblue;
    margin-top: 5px;
}

/* left */

.left{
    width: 15%;
    height: 700px;
    background-color: coral;
    float: left;
}


.top {
    clear: both;
    width: 100%;
    height: 200px;
    background-color: rgb(80, 255, 89);
    float: left;
}


.bot {
    width: 100%;
    height: 300px;
    background-color: rgb(173, 255, 80);
    float: left;
}

/* mid */

.middle{
    width: 60%;
    height: 700px;
    background-color: rgb(255, 229, 80);
    float: left;
}

.topmid {
    width: 100%;
    height: 200px;
    background-color: aqua;
}

.midcon {
    width: 40%;
    height: 200px;
    background-color: cadetblue;
    float: left;
}

.midcon2 {
    width: 60%;
    height: 200px;
    background-color: chocolate;
    float: left;
}

.botmid {
    height: 500px;
    width: 100%;
}

.botcon {
    height: 50%;
    width: calc(100%/3);
    background-color: cyan;
    border: solid 1px black;
    float: left;
}

/* right */

.right{
    width: 25%;
    height: 700px;
    background-color: rgb(118, 80, 255);
    float: left;
}


/* footer */

.footer {
    background-color: brown;
    height: 50px;
    border: solid black 2px;
}

.copy {
    display: inline-block;
    width: 20%;
    float: left;
    padding: 16px;
    text-align: center;
}

.space {
    height: 100%;
    width: 30%;
    float: left;
}

.contact {
    display: inline-block;
    /* position: absolute; */
    width: 50%;
    float: right;
    text-align: right;
    padding: 14px;


}

a {
    padding: 0 15px;
    border-right: black solid 1px;
}



